.env
.venv/
__pycache__/
.pytest_cache/
dist/
.mypy_cache/
.DS_Store
.idea/
.vscode/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.db
.DS_Store

# IDEs
.vscode/
.idea/

# Poetry
poetry.lock


__pycache__/
*.pyc

.env.docker